# dependencies
*node_modules
/.pnp
.pnp.js

# testing
/coverage
/src/test

# production
/build

# keys
*.pem
*.key

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# /guest-app/node_modules
.history
.vscode
receipts
docs
todo.txt

/ignore
